#wrapper {
    margin: auto;
    background: #eee;
  }
  
  /* Phone */
  @media only screen and (max-width: 400px) {
      body {
        background-color: #F09A9D;
      }
    }
    
    /* Tablet */
    @media only screen and (min-width: 401px) and (max-width: 960px) {
      body {
        background-color: #F5CF8E;
      }
    }
    
    /* Desktop */
    @media only screen and (min-width: 961px) {
        body {
            background-color: #B2D6FF;
        }
        
        #wrapper {
            width: 832px;
        }  
    }