body {
    background-image: url("soil_bg.jpg");
    background-size: contain;
    background-attachment: fixed;
}

#wrapper {
    margin: auto;
    padding-bottom: 32px;
    padding: -15px;
    background: linear-gradient(#c9ffce,#57c663);
    box-sizing: content-box;
  }
  
  /* Phone */
  @media only screen and (max-width: 400px) {
    }
    
    /* Tablet */
    @media only screen and (min-width: 401px) and (max-width: 960px) {
    }
    
    /* Desktop */
    @media only screen and (min-width: 961px) { 
        #wrapper {
            width: 864px;
        }  
    }