#allPlants {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 24px 8px 0 8px;
    margin: auto;
    background: #f2fff2;    
    width: 800px;
    border-radius: 0 0 8px 8px;
}

#allPlantsHeader {
    margin: 0 24px 32px 24px;
    padding: 0;
    display: block;
    width: 100%;
}

#allPlantsHeaderTitle {
    border-bottom: 2px solid black;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 48px;
    font-family: 'Source Serif Pro', serif;
}

#sortBy {
    float: right;
    margin-right: 12px;
    position: relative;
    bottom: 10px;
}

#sortList {
    float: right;
    width: auto;
    position: relative;
    top: 4px;
    margin: 0;
    color: black;
    font-family: 'Source Serif Pro', serif;
    font-size: 18px;
    height: auto;
}

#sortList:focus {
    border: 0;
    outline: none;
}

@keyframes growRight {
    from {width: 30%;}
    to {width: 100%;}
}