/* -------------------- NAVBAR -------------------- */
#navbar {
    display: flex;
    align-items: center;
}

#navbar-title {
    margin: 0;
    font-size: 48px;
    color: 	#3d3d3f;
}

#icon {
    padding: 8px;
    width: 64px;
    height: 64px;
}

/* -------------------- CROPS -------------------- */
#crops {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 24px 0 24px;
    margin: auto;
}

.crop {
    margin: 48px 24px 0px 24px;
    width: 170px;
    height: 170px;
    background-color: yellow;
    position: relative;
}


.crop-name {
    text-align: center;
    margin: 0;
    font-size: 24px;
    padding-top: 8px;
    width: 100%;
    height: 42px;
    background-color: darkgrey;
    position: absolute;
    top: 65%;
}

.crop-image {
    display: inline;
}

#navbar {
    border-bottom: 1px #3d3d3f solid;
    margin: auto;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        background-color: #B2D6FF;
    }
    
    /* -------------------- NAVBAR -------------------- */
    #navbar, #crops {
        width: 832px;
    }

    .crop {
        width: 148px;
        height: 148px;
    }

}