.guideCard {
    display: flex;
    align-items: center;
    width: 736px;
    height: 96px;
    margin: 0 24px 48px 24px;
    position: relative;
    background-color: yellow;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 8px;
}

.guideCardName {
    text-align: center;
    margin: 0;
    font-size: 36px;
    position: absolute;
    left: 5%;
    font-weight: bold;
    color: #eee;
}

.guideCardImage {
    width: 100%;
}