<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>
<!-- NAVBAR -->
    <div id="navbar">
        <img id="icon" src="./leaf.png">
        <h1 id="navbar-title">Gardyn</h1>
    </div>
    

    <div id="crops">
        <div class="crop">
            <img class="crop-image" src="http://via.placeholder.com/148x148">
            <h2 class="crop-name">Name</h2>
        </div>
        <div class="crop">
            <img class="crop-image" src="http://via.placeholder.com/148x148">
            <h2 class="crop-name">Name</h2>
        </div>
        <div class="crop">
            <img class="crop-image" src="http://via.placeholder.com/148x148">
            <h2 class="crop-name">Name</h2>
        </div>
        <div class="crop">
            <img class="crop-image" src="http://via.placeholder.com/148x148">
            <h2 class="crop-name">Name</h2>
        </div>
        <div class="crop">
            <img class="crop-image" src="http://via.placeholder.com/148x148">
            <h2 class="crop-name">Name</h2>
        </div>
        <div class="crop">
            <img class="crop-image" src="http://via.placeholder.com/148x148">
            <h2 class="crop-name">Name</h2>
        </div>
        <div class="crop">
            <img class="crop-image" src="http://via.placeholder.com/148x148">
            <h2 class="crop-name">Name</h2>
        </div>
        <div class="crop">
            <img class="crop-image" src="http://via.placeholder.com/148x148">
            <h2 class="crop-name">Name</h2>
        </div>
        <div class="crop">
            <img class="crop-image" src="http://via.placeholder.com/148x148">
            <h2 class="crop-name">Name</h2>
        </div>
        <div class="crop">
            <img class="crop-image" src="http://via.placeholder.com/148x148">
            <h2 class="crop-name">Name</h2>
        </div>
        <div class="crop">
            <img class="crop-image" src="http://via.placeholder.com/148x148">
            <h2 class="crop-name">Name</h2>
        </div>
        <div class="crop">
            <img class="crop-image" src="http://via.placeholder.com/148x148">
            <h2 class="crop-name">Name</h2>
        </div>
        <div class="crop">
            <img class="crop-image" src="http://via.placeholder.com/148x148">
            <h2 class="crop-name">Name</h2>
        </div>
        <div class="crop">
            <img class="crop-image" src="http://via.placeholder.com/148x148">
            <h2 class="crop-name">Name</h2>
        </div>
    </div>
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
