#homeTitle {
	font-size: 96px;
	color: white;
	font-family: 'Source Serif Pro', serif;
	text-align: center;
	margin-bottom: 20px;
	animation: fadeinTitle 2s;
	user-select: none;
}

#homeTitle {
	cursor: default;
}

#titleCenterDiv {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: -1;

}

#allPlantsButton {
	float: left;
	margin: 0 auto;
	animation: fadeinButton1 2.5s;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 3px;
}

#allGuidesButton {
	float: right;
	margin: 0 auto;
	animation: fadeinButton2 3s;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 3px;
}

.titleButton {
	width: 256px;
	height: 64px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid green;
	font-family: 'Source Serif Pro', serif;
	border-radius: 12px;
	color: white;
	user-select: none;
	margin: 0 5px 10px 10px;
	padding: 50px;
}

.titleButton:hover {
	color: #e8ffe2;
	border: solid 1px #e8ffe2;
	background-color: rgba(255, 255, 255, 0.7);
	color: black;
	cursor: pointer;
	text-decoration:  none;
	border: none;
}

.titleButton:link {
	color: white;
	text-decoration: none;
}

.titleButton:visited {
	color: white;
	text-decoration: none;
}

.titleButton:hover {
	text-decoration: none;
	color: black;
}

.titleButton:active {
	color: black;
	text-decoration: none;
}

@keyframes fadeinTitle {
    0%    { opacity: 0; }
	100%  { opacity: 1; }
}

@keyframes fadeinButton1 {
	0%    { opacity: 0; }
	33%    { opacity: 0; }
	100%  { opacity: 1; }
}

@keyframes fadeinButton2 {
	0%    { opacity: 0; }
	50%    { opacity: 0; }
	100%  { opacity: 1; }
}
