#homeTitle {
	font-size: 96px;
	color: white;
	text-align: center;
	margin-bottom: 96px;
}

#titleCenterDiv {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

#allPlantsButton {
	float: left;
	margin-right: 48px;
}

#allGuidesButton {
	float: right;
	margin-left: 48px;
}

#loginButton {
	position: absolute;
	right: 0;
	top: 0;
	color: white;
	font-size: 20px;
	padding: 2px 6px 2px 6px;
	margin: 1.5vh;
	border: 1px solid white;
	border-radius: 6px;
}

.titleButton {
	width: 256px;
	height: 64px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid white;
	border-radius: 12px;
	color: white;
}

/* Snaps with same breakpoints as Wrapper component. */
@media only screen and (max-width: 400px) {
	#homeOverlay {
		top: 225px;
	}
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
	#homeOverlay {
		top: 225px;
	}
}

@media only screen and (min-width: 961px) {
	#homeOverlay {
		top: 325px;
	}
}