#allGuides {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 24px 0 24px;
    margin-right: 24px;
    margin-left: 24px;
}

#allGuidesHeader {
    margin-bottom: 48px;
    margin: 0 48px 48px 48px;
}

#allGuidesHeaderTitle {
    border-bottom: 1px solid gray;
}

#addGuideImage {
	height: 100%;
	width: auto;
	display: block;
	margin: auto;
}

#addGuide {
	background: #c3c3c3;
}