.crop {
    margin: 48px 24px 0px 24px;
    width: 170px;
    height: 170px;
    background-color: yellow;
    position: relative;
}


.crop-name {
    text-align: center;
    margin: 0;
    font-size: 24px;
    padding-top: 8px;
    width: 100%;
    height: 42px;
    background-color: darkgrey;
    position: absolute;
    top: 65%;
}

.crop-image {
    display: inline;
}