#allCrops {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 24px 0 24px;
    margin: auto;
}

/* Phone */
@media only screen and (max-width: 400px) {
  }
  
  /* Tablet */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
  }
  
  /* Desktop */
  @media only screen and (min-width: 961px) {
      #allCrops {
          width: 832px;
      }  
  }