.plantCard {
    margin: 0 24px 48px 24px;
    width: 148px;
    height: 148px;
    position: relative;
    border: 1px solid #000000;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s ease-in-out;
}

.plantCard:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.plantCardName {
    text-align: center;
    margin: 0;
    font-size: 22px;
    padding-top: 8px;
    width: 100%;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    bottom: 0;
    color: black;
    font-family: 'Source Serif Pro', serif;
}

.plantCardImage {
    height: 100%;
}

.easyDifficulty, .mediumDifficulty, .hardDifficulty {
    width: 100%;
    height: 24px;
    text-align: center;
    transform: rotate(-45deg);
    position: absolute;
    left: -40%;
    border: 1px solid #3d3d3d;
}

.easyDifficulty {
    background-color: #4ae275;
}

.mediumDifficulty {
    background-color: #edff6b;
}

.hardDifficulty {
    background-color: #ff5c3f;
}

@keyframes onHover {
    0% { box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); }
    100% { box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6); }
}