.cropAlign {
    align-items: center;
    width: 812px;
    margin: auto;
}

.cropName {
    text-align: left;
    font-size: 36px;
    font-weight: bold;
    color: #000;
}

.cropImage {
	align-items: right;
    width: 200px;
    height: auto;
}

.cropParagraph {
	font-size: 24px;
	align-items: left;
}