.plantAlign {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 24px 8px 0 8px;
    margin: auto;
    background: #f2fff2;
    width: 800px;
    border-radius: 0 0 8px 8px;
}

.plantName {
    border-bottom: 2px solid black;
    margin: 0;
    padding: 0;
    animation: growRight 3s;
    width: 100%;
    font-size: 48px;
    font-family: 'Source Serif Pro', serif;
}

.plantImageDiv {
    background-color: gray;
    width: 100%;
    height: 332px;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 8px;
    border: 1px solid black;
    overflow: hidden;
}

.plantSectionSeparate {
	align-items: auto;
    margin-left: 30px;
    margin-right: 30px;
    width: 740px;
}

#childPlantHolder {
    width: 60%;
    float: right;
}

#catDetailsHolder {
    width: 70%;
    float: right;
}

.infoDiv {
    width: 90%;
    height: 48px;
    margin: auto;
    display: flex;
    align-items: center;
    background: #eee;
    border: 1px solid black;
    border-radius: 4px;
    margin-bottom: 23px;
    overflow: hidden;
}

#sunlightDivIcon {
    height: 100%;
    width: auto;
    padding: 0 5% 0 5%;
    border-style: border-box;
    border-right: 1px solid black
}

#timeDivIcon {
    height: 80%;
    width: auto;
    padding: 0 5% 0 5%;
    border-style: border-box;
    border-right: 1px solid black
}

.textRight {
    margin-left: 5%;
    font-size: 26px;
}

.textLeft {
    padding: 0 5% 0 5%;
    font-size: 26px;
    border-right: 1px solid black;
    height: 100%;
    display: flex;
    align-items: center;
}

#difficultyDivText {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    font-size: 30px;
    width: 100%;
    height: 48px;
    bottom: 0;
    margin: 0;
}

.infoDivOptions {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.infoDivOptionsImage {
    height: 60%;
    width: auto;
}

#divider {
    height: 100%;
    border-left: 1px solid black;
}

.infoDivOptionsDiv {
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plantGuideDescription {
    text-align: left;
    font-size: 24px;
    border-top: 2px solid black;
    padding: 16px 16px 0px 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

#individualPlantHeader {
    margin: 0 24px 32px 24px;
    padding: 0;
    display: block;
    width: 100%;
}

#childPlantHolder {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    margin: auto;
    background: #e8ffea;
    width: 800px;
    border-radius: 0 0 8px 8px;
}

#info1 { animation: info1 1.5s }
#info2 { animation: info2 2s }
#info3 { animation: info3 2.5s }
#info4 { animation: info4 3s }
#info5 { animation: info5 3.5s }

@keyframes info1 {
    0% {opacity: 0}
    100% {opacity: 1}
}
@keyframes info2 {
    0% {opacity: 0}
    12.5% {opacity: 0}
    100% {opacity: 1}
}
@keyframes info3 {
    0% {opacity: 0}
    20% {opacity: 0}
    100% {opacity: 1}
}
@keyframes info4 {
    0% {opacity: 0}
    25% {opacity: 0}
    100% {opacity: 1}
}
@keyframes info5 {
    0% {opacity: 0}
    30% {opacity: 0}
    100% {opacity: 1}
}
