#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #3d3d3f;
    margin: auto;
    background: #c3ffba;
    overflow: hidden;
    height: 64px;
}

#navbarTitle {
    margin: 0;
    font-size: 48px;
    color: 	#3d3d3f;
}

#icon {
    padding: 8px;
    width: 64px;
    height: 64px;
}

.button {
    display: flex;
    align-items: center;
    padding: 0 12px 0 12px;
    border-left: 1px solid #3d3d3f;
    height: 200px;
    margin: 0;
    margin-right: -6px;
    margin-left: 8px;
    transform: rotate(15deg);
}

.button:hover {
    background: #ade2a7;
}

.button h4 {
    transform: rotate(-15deg);
    font-size: 24px;
}

.flex {
    display: flex;
    align-items: center;
}
